

@charset "utf-8";

/*Fontes[*/
@font-face {
    font-family: 'alte_haas_groteskbold';
    src: url('altehaasgroteskbold-webfont.eot');
    src: url('altehaasgroteskbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('altehaasgroteskbold-webfont.woff') format('woff'),
         url('altehaasgroteskbold-webfont.ttf') format('truetype'),
         url('altehaasgroteskbold-webfont.svg#alte_haas_groteskbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alte_haas_groteskregular';
    src: url('altehaasgroteskregular-webfont.eot');
    src: url('altehaasgroteskregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('altehaasgroteskregular-webfont.woff') format('woff'),
         url('altehaasgroteskregular-webfont.ttf') format('truetype'),
         url('altehaasgroteskregular-webfont.svg#alte_haas_groteskregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'axure_handwritingregular';
    src: url('axurehandwriting-webfont.eot');
    src: url('axurehandwriting-webfont.eot?#iefix') format('embedded-opentype'),
         url('axurehandwriting-webfont.woff') format('woff'),
         url('axurehandwriting-webfont.ttf') format('truetype'),
         url('axurehandwriting-webfont.svg#axure_handwritingregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'axure_handwritingbold';
    src: url('axurehandwriting-bold-webfont.eot');
    src: url('axurehandwriting-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('axurehandwriting-bold-webfont.woff') format('woff'),
         url('axurehandwriting-bold-webfont.ttf') format('truetype'),
         url('axurehandwriting-bold-webfont.svg#axure_handwritingbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'axure_handwritingbold_italic';
    src: url('axurehandwriting-bolditalic-webfont.eot');
    src: url('axurehandwriting-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('axurehandwriting-bolditalic-webfont.woff') format('woff'),
         url('axurehandwriting-bolditalic-webfont.ttf') format('truetype'),
         url('axurehandwriting-bolditalic-webfont.svg#axure_handwritingbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* CSS Document */
body{font-family: "arial"; background:url(../images/back_pagina.png); border-top:10px solid #5D5D5D; margin-top:0px}

/*Nosso grid*/
.1coluna{width:68px} .2coluna{width:154px} .3coluna{width:240px} .4coluna{width:326px} .5coluna{width:412px} .6coluna{width:498px} .7coluna{width:584px}
.8coluna{width:670px} .9coluna{width:756px} .10coluna{width:842px} .11coluna{width:928px} .12coluna{width:1014px}

@media only screen and (min-width: 1024px){
#container{width:1014px; position:relative; margin:0 auto; margin-top:15px; }
#conteudo{position:relative; float:left; width:1014px; margin-top:-50px; }
#area_conteudo_superior{width:100%; position:relative; float:left; margin-bottom:80px}
#area_conteudo_esquerda{width:670px; position:relative; float:left; }
#area_conteudo_esquerda_borda{width:674px; position:relative; float:left; padding-right:2px; border-right:2px solid red }
#area_conteudo_direita{width:326px; position:relative; float:right; margin-right:0px;}
#area_conteudo_direita_borda{width:326px; position:relative; float:right; margin-right:0px; padding-left:5px; border-left:2px solid #999 }
.area_conteudo_home{position:relative; float:left; margin-bottom:30px; }
#area_conteudo_esquerda_pesquisa{width:756px; position:relative; float:left; }
#area_conteudo_direita_pesquisa{width:240px; position:relative; float:right; margin-right:0px; }


/*css do topo*/

/*topo*/

#topo{width:1014px; height:150px; position:relative; float:left;}
#logo{position:relative; float:left; margin-left:10px;}
#campo_estado{position:relative; float:right; width:248px; height:40px; margin-top:13px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold;}
#campo_estado img{position:relative; float:right; margin-top:7px; margin-left:5px; border:1px solid #e0e0e0 }
#titulo_estado{position:relative; float:right; font-size:16px; color:#727575;}
#link_estado a{position:relative; float:right;font-size:12px; color:#ffc001; text-decoration:none}
#link_estado a:hover{ text-decoration:underline}
input.placeholder {text-align: center;}
#campo_pesquisa{position:relative; float:right; top:32px}
#busca{position:relative; float:right; width:527px; height:41px; border: 3px solid #5c5c5c; background: #FFF}
#busca img{position:relative; float:left; margin-top:5px; margin-left:10px; margin-right:10px; }
#botao_busca{position:relative; float: right; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; color:#fff; background-color:#5c5c5c; width:86px; height:100%; border:0; font-weight:bold;}
#texto_busca{position:relative; float:left; width:385px; height:95%; border:0; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px; color:#5c5c5c; text-align: center}

::-webkit-input-placeholder { /* WebKit browsers */
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px;
color: #adadad; 
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px;
color: #adadad; 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px;
color: #adadad; 
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px;
color: #adadad; 
}


/*menu*/
#menu{position:relative; float:left; height:59px; z-index:100000;}
#menu .link_menu:last-child{margin-right: 0px; border-right: 0px}
.link_menu{position:relative; float:left;height:100%; background:#007bb8; border-right:1px solid white;}
.link_menu img{position:relative; float:left; margin-top:14px; margin-left:9px; margin-right:10px}
.link_menu a{text-decoration:none}
.link_menu a h3{position:relative; float:left; color:#fff; font-size:16px; margin-top:20px; margin-right:8px; font-weight:100; font-style:none; text-decoration:none}
/*.link_menu_ultimo{margin-right:0px}
.link_menu_ultimo img{margin-right:9px; margin-left:9px}*/
/*.v{ position:relative; float:left; color:#fff; width:5px; margin-left:0px; margin-top:19px}*/
.v{ position:relative; float:left; width:11px; height:9px; background:url(../images/icone_down.png); margin-left:0px; margin-top:27px}
.link_menu:hover .v{background:url(../images/icone_up.png); }
.menus{position:absolute; left:-999em ; float:left; height:310px; background-color:#007bb8; margin-top:63px; display:block}
.menus a{ text-decoration:none}
.link_menu:hover {height:110%}
.link_menu:hover .menus {left:0px; top:auto;}
.conteudo_menu{position:relative; float:left; margin-left:10px; margin-right:10px}
.ou{position:relative; float:left; color:#fff; font-size:16px; font-weight:bold; margin-top:5px}
.titulo_menu{ position:relative; float: left; margin-left:11px; font-size:22px; color:#fff; font-weight:bold; display:block; width:100%}
.sub_menu{position:relative; float:left; margin-left:11px; margin-right:11px;}
.sub_menu ul{position:relative; float:left; list-style:none; color:#fff; font-size:16px; margin-right:40px; margin-top:-10px; }
.titulo_sub_menus{height:24px; padding-top:5px ;padding-left:5px; padding-right:5px; background:#ebebeb; color:#535353; font-weight:bold; margin-top:0px}
.sub_menus a{ text-decoration:none; color:#fff;}
.sub_menus a:hover{color:#CCC;}
.sub_menu ul li{ margin-bottom:3px; margin-left:-60px; list-style:none; text-decoration:none}
.titulo_rodape_menu{position:relative; float:left; font-family: "Arial", Helvetica, sans-serif; font-size:15px; color:#fff; margin-top:12px}
.rodape_menu{position:absolute; float:left; width:100%; height:42px; background-image:url(../images/back_rodape_menu2.jpg); bottom:0px}
.rodape_menu img{position:relative; float:right; margin-top:6px; margin-right:6px; margin-left:10px}
.rodape_menu h2{position:relative; float:right}
#menu_restaurantes{width:692px;}
#restaurantes{width:179px}
#menu_lanchonete{width:699px;}
#lanchonetes{width:166px}
.link_menu:hover #menu_lanchonete{left:-178px; top:auto;}
#menu_bebidas{width:704px;}
#bebidas{width:139px}
.link_menu:hover #menu_bebidas {left:-287px; top:auto;}
#menu_passeio{width:878px;}
#passeio_e_lazer{width:194px}
.link_menu:hover #menu_passeio {left:-350px; top:auto;}
#menu_estadias{width:483px;}
#estadias{width:147px}
.link_menu:hover #menu_estadias {left:-169px; top:auto;}
#menu_entretenimento{width:539px;}
#entretenimento{width:184px}
.link_menu:hover #menu_entretenimento {left:-355px; top:auto;}



/*css do conteúdo*/
#conteudo{position:relative; float:left; margin-top:30px}

/*topo das páginas de anunciantes*/
#topo_pagina_anunciante{background:url(../images/back_topo_pagina.png); position:relative; float:left; width:100%; height:339px;}
#redes_sociais_pagina{position:relative; float:left; width:307px; margin-top:210px; margin-right:10px; height:26px;}
#redes_sociais_pagina ul{margin-top:0px}
#redes_sociais_pagina ul li{ float:right; position: relative; list-style:none; height:26px; margin-left:5px}
#logo_topo_pagina_anunciante{position:relative; float:left;  margin-top:0px; width:364px;}
#logo_topo_pagina_anunciante img{position:relative; float:left; width:364px; height:265px; background:#fafafa;vertical-align:middle; text-align:center; border:1px solid #767676 }
#logo_topo_pagina_anunciante h3{ font-size:30px; font-weight:100; color:#424242; margin-top:10px; height:64px; vertical-align:middle; text-align:center}
#logo_topo_pagina_lazer{position:relative; float:left;  margin-top:0px; width:498px; margin-left:240px ; border:1px solid red}
#logo_topo_pagina_lazer img{position:relative; float:left; width:498px; height:265px; background:#fafafa;vertical-align:middle; text-align:center; border:1px solid #767676 }
#logo_topo_pagina_lazer h3{ font-size:30px; font-weight:100; color:#424242; margin-top:10px; height:64px; vertical-align:middle; text-align:center}
#contatos_pagina{position:relative; float:left; margin-top:210px; color:#424242; margin-left:10px; width:307px;}
.titulo_contatos_pagina{position:relative; float:left; font-size:16px; font-weight:bolder; margin-top:0px; margin-bottom:0px; width:72px;}
.contatos_pagina{position:relative; float:left; width:100%; margin-bottom:5px; height:18px;}
#contatos_pagina h6{position:relative; float:left; font-size:16px; font-weight:100; width:73%; height:100%; vertical-align:middle; margin-top:0px; margin-bottom:0px ; margin-left:5px; }


/*topo das áreas de chamadas*/
.topo_area_categoria{position:relative; float:left; width:100%; height:31px; margin-bottom:27px; background: url(../iSmages/back_detalhes_claro.jpg); border-bottom:3px solid #007bb8; }
.icone_area_categoria{position:relative; float: left; margin-left:20px; margin-right:23px; }
.titulo_area_categoria{position:relative; float:left; font-size:24px; padding-right:10px; font-weight:bold; color:#4c4c4c; top:-14px }

/*rodape das áreas de chamadas*/
.rodape_area_categoria{position:relative; float:left; width:100%; height:15px; background:url(../images/back_detalhes.jpg); margin-top:20px; margin-bottom:10px}
.conteudo_rodape_pagina_categoria{position:relative; float:right;; margin-top:-9px }
.conteudo_rodape_pagina_categoria:hover h4{color:#0c4880}
.conteudo_rodape_pagina_categoria img{position:relative; float:right; margin:0 15}
.conteudo_rodape_pagina_categoria h4{position:relative; float:right; border: 2px solid #ff8100; margin-left:-12px; margin-bottom:0; margin-top:3px; padding:2px 5px 2px 20px; font-size:14px; font-weight:bold; color:#444444; background:#fff }
.rodape_area_categoria a{ text-decoration:none}

/*topo das áreas das páginas*/
.topo_area_pagina{position:relative; float:left; width:100%; height:31px; margin-bottom:27px; background: url(../iSmages/back_detalhes_claro.jpg); border-bottom:3px solid #007bb8; }
.icone_area_pagina{position:relative; float: left; margin-left:15px; margin-right:10px; padding-bottom:5px;}
.titulo_area_pagina{position:relative; float:left; font-size:24px; padding-right:10px; font-weight:bold; color:#4c4c4c; top:-14px  }


/*css das divs gerais das chamadas*/
.chamadas{position:relative; float:left; width:326px;}
.chamada-horizontal{position:relative; float:left; width:100%;}
.chamada-horizontal .chamada_media:last-child{margin-right:0px; float:right}
.chamada-horizontal .chamada_pequena:last-child{margin-right:0px; float:right}


/*css das chamadas pequenas*/
.chamada_pequena{position:relative; float:left; width:326px; height:74px; margin-bottom:18px;}
.chamada_pequena img{position:relative; float: left; width:99px; height:74px; margin-right:7px; }
.chamada_pequena p{position:relative; float:left; width: 219px; text-align:left; font-size:14px; text-decoration:none; margin-top:0px; }
.chamada_pequena a{color:#454545; text-decoration: none;}
.chamada_pequena:hover img{border-bottom:3px solid #ff8100; }
.chamada_pequena:hover p{font-weight:bold;}


/*css das chamadas médias*/

.central{margin-left:10px; margin-right:10px}
.central{margin-left:10px; margin-right:10px}
.esquerda{float:left}
.direita{float:right}

.chamada_media{position:relative; float: left; width:154px; height:245px; margin-right:18px}
.chamada_media a{position:relative; float:left;  font-size:13px; text-decoration:none; color:#454545;}
.chamada_media a p{position:relative; float:left; text-align:left; text-decoration: none; margin-top:-5px}
.chamada_media a h2{position:relative; float:left; font-weight:bold; font-size:14px; margin-top:6px}
.chamada_media a:hover h2{color:#ff8100;  }
.chamada_media a:hover p{ font-weight:bold}
.chamada_media:hover img{ opacity:0.5}
.chamada_media img{ width:100%}



/*css das chamadas grandes*/
.chamada_grande{position:relative; margin-bottom:39px; margin-top:0px}
.chamada_grande img{height:237px; width:326px}

/*css das chamadas com caption*/


/*css da descrição das páginas*/
#descricao_pagina{position:relative; float:left; width:326px; margin-bottom:30px; margin-top:0px;}
#descricao_pagina_grande{position:relative; float:left; width:100%; margin-bottom:30px; margin-top:0px;}
.texto_pagina{position:relative; float:left;  width:100%; text-align:justify; font-size:14px; color:#424242;}

/*css do endereço das páginas*/
#endereco_pagina{ position:relative; float:left; width:326px; margin-bottom:30px; margin-top:0px}
.texto_pagina{position:relative; float:left;  width:100%; text-align:justify; font-size:14px; color:#424242; margin-top:0px}

/*css da forma de pagamento*/
#formas_pagamento{position:relative; float:left; width:326px; margin-bottom:30px;}
.icone_esquerda{position:relative; float: left; margin-right: 16px; margin-bottom:10px}
.icone_direita{position:relative; float: right; margin-bottom:10px}
.icone_grande_esquerda{position:relative; float: left; margin-right: 12px; margin-bottom:10px}
.icone_grande_direita{position:relative; float: right; margin-bottom:10px}

/*css de adapitado*/
#adaptado{position:relative; float:left; width:326px; margin-bottom:30px;}


/*css de informações*/
#informacoes_pagina{position:relative; float:left; width:326px; margin-bottom:15px; color:#424242; margin-right:18px}
.informacoes_pagina{position:relative; float:left; width:100%; margin-top:0px; margin-bottom:15px;  border-bottom:1px solid #CCC; padding-bottom:15px}
.informacoes_pagina_2{position:relative; float:left; width:100%; margin-top:0px; margin-bottom:15px; border-bottom:1px solid #CCC}
.informacoes_pagina_2 h4{position:relative; float:left; width:100%; margin-top:0px; margin-bottom:22px; }
.informacoes_pagina_pagamento{position:relative; float:left; width:100%; margin-top:0px; margin-bottom:15px; padding-bottom:0px;}
.informacoes_pagina_pagamento h4{position:relative; float:left; width:100%; margin-top:0px; margin-bottom:10px;}
.informacoes_pagina h4{position:relative; float:left; /*width:22%*/; margin-top:0px; margin-bottom:0px;}
.informacoes_pagina h6{position:relative; float:left; /*width:73%*/; margin-top:0px; margin-bottom:0px; margin-left:10px; font-size:16px; font-weight:100; }
.precos_informacoes_pagina{position:relative; float:left; max-width:23%; margin-top:0px; margin-left:8px; margin-bottom:0px; }
.precos_informacoes_pagina h6{position:relative; float:right; width:100%; margin-top:0px; margin-bottom:5px; font-size:14px; font-weight:100; vertical-align:middle; text-align:center;}
.precos_informacoes_pagina p{position:relative; font-size:14px; margin-top:0px; margin-bottom:0px;; font-weight:bold; text-align:center;}


/*css de extras*/
#extras{position:relative; float:left; width:326px; margin-bottom:30px;}
#extras img:nth-child(5n){margin-right:0px}

/*css de frase do dia*/
#frase_do_dia{position:relative; float:left; width:326px; margin-bottom:30px; border-bottom:10px; }
#frase_do_dia p{position:relative; float: left; width:100%; text-align: left; margin-top:0px; margin-left:7px; font-size:14px; font-weight:bold; color:#4d4d4d; }
#frase_do_dia p span{position:relative; float:right; marginn-top:20px; margin-right:7px; margin-bottom:0px; text-align:right; font-style:italic;}

/*css do funcionamento das páginas*/
#funcionamento_pagina{ position:relative; float:left; width:326px; margin-bottom:30px; margin-top:0px; color:#242424;}
.funcionamento_pagina_semana{position:relative; float:left; list-style:none;  font-size:14px; margin-left:0px; margin-bottom:0px; margin-top:0px; width:100%;}
.funcionamento_pagina_semana h4{position:relative; float:left; width:100px; margin-top:0px; margin-bottom:0px;}
.funcionamento_pagina_semana h2{position:relative; float:left; width:100px; margin-top:0px; margin-bottom:0px; font-size:14px}
.funcionamento_pagina_semana p{position:relative; float:right; width:208px; margin-top:0px; margin-bottom:0px; margin-right:0px; text-align:right}

/*css do cardapio*/
#cardapio{position:relative; float:left; width:666px;color:#242424;; margin-bottom:30px}
.pratos_cardapio{position:relative; float:left; width:100%; height:85px;  background:url(../images/back_detalhes_claro_claro.jpg); }
.pratos_cardapio:first-child .linha_separatoria{display:none}
.pratos_cardapio_esquerda{position:relative; float:left; width:380px; height:100%; padding-left:10px;}
.pratos_cardapio_esquerda h4{position:relative; float:left; margin-top:10px; margin-bottom:5px; width:100%; font-size:16px; font-weight:bold; }
.pratos_cardapio_esquerda p{position:relative; float:left; margin-top:2px; font-size:12px;}
.pratos_cardapio_direita{position:relative; float:right; width:266px; height:100%}
.preco_cardapio{position:relative; float:right; width:84px; height:40px;  margin:10px auto;}
.preco_cardapio h5{position:relative; font-size:12px; font-weight:bold; margin-top:0px; margin-bottom:0px; text-align:center; }
.preco_cardapio p{position:relative; font-size:14px; margin-top:0px; margin-bottom:0px;; font-weight:bold; text-align:center;}

.conteudo_cardapio{position:relative; float:left; width:666px; overflow:hidden; height:710px; margin-top:5px; }
#pratos_cardapio{ position:relative; float:left; width:100%; overflow:hidden; height:100%; border:2px solid #4d4d4d}
#cardapio {display: inline-block; width: 666px; }
#abas {display: inline-block; width: 666px; height: 40px; margin: 7px 10px 0 10px; padding: 0; overflow: hidden; vertical-align: bottom;}
#abas a {display: inline-block; font-size: 12px; font-weight: bold; color: #666; text-decoration: none; padding: 12px 26px 12px 26px; margin: 0 5px 0 0; background-color: #f0f0f0;}
#abas a:hover {background-color: #999; color: #fff; }
#abas a.selected {background: #242424; color: #fff; font-size: 14px}
#conteudo_cardapio {display: inline-block; width: 666px; margin: 0; padding: 0; border: 1px solid #ccc;}
#conteudo_cardapio li {display: inline-block; width: 666px;  padding: 0; }


/*css das acomodações*/
#acomodacoes{position:relative; float:left; width:666px;color:#242424;; margin-bottom:30px}
.quartos_acomodacoes{position:relative; float:left; width:100%; height:85px;  background:url(../images/back_detalhes_claro_claro.jpg)}
.tipo_quarto_esquerda{position:relative; float:left; width:380px; height:100%; padding-left:10px;}
.tipo_quarto_esquerda h4{position:relative; float:left; margin-top:10px; margin-bottom:5px; width:100%; font-size:16px; font-weight:bold; }
.tipo_quarto_esquerda p{position:relative; float:left; margin-top:2px; font-size:12px;}
.tipo_quarto_direita{position:relative; float:right; width:266px; height:100%}
.preco_quarto{position:relative; float:right; width:84px; height:40px;  margin:10px auto;}
.preco_quarto h5{position:relative; font-size:12px; font-weight:bold; margin-top:0px; margin-bottom:0px; text-align:center; }
.preco_quarto p{position:relative; font-size:14px; margin-top:0px; margin-bottom:0px;; font-weight:bold; text-align:center;}
.conteudo_acomodacoes{position:relative; float:left; width:666px; overflow:hidden; height:710px; margin-top:5px; }
#pratos_cardapio{ position:relative; float:left; width:100%; overflow:hidden; height:100%; border:2px solid #4d4d4d}
#cardapio {display: inline-block; width: 666px; }
#abas {display: inline-block; width: 666px; height: 40px; margin: 7px 10px 0 10px; padding: 0; overflow: hidden; vertical-align: bottom;}
#abas a {display: inline-block; font-size: 12px; font-weight: bold; color: #666; text-decoration: none; padding: 12px 26px 12px 26px; margin: 0 5px 0 0; background-color: #f0f0f0;}
#conteudo_cardapio {display: inline-block; width: 666px; margin: 0; padding: 0; border: 1px solid #ccc;}
#conteudo_cardapio li {display: inline-block; width: 666px;  padding: 0; }			

	
/*css de Filmes e peças*/
#cinema{position:relative; float:left; width:670px; margin-bottom:40px; margin-top:0px;}

#teatro{position:relative; float:left; width:670px; margin-bottom:30px; margin-top:0px;}
.cartaz{position:relative; float:left; width:326px; border:1px solid #b4b4b4; margin-bottom:16px; background:#fff}
.cartaz:nth-child(2n+2){float:right}
.cartaz img{position:relative; float:left; width:108px; margin-top:5px; margin-left:5px; margin-bottom:0px;}
.cartaz h4{position:relative; float:right; width:198px; margin-right:4px; margin-bottom:0px; margin-top:7px; font-size:14px; font-weight:bold; }
.cartaz p{position:relative; float:right; width:198px; margin-right:4px;; margin-top:10px; margin-bottom:0px; font-size:12px; text-align:justify; }
.precos_teatro{position:relative; float:right; width:80%; margin-top:15px; margin-right:40px;  }
.precos_teatro h3{position:relative; float:left; text-align:left; font-size:14px; margin-right:10px; margin-left:5px; margin-top:12px; margin-bottom:0px;}
.tipo_entrada{position:relative; float:left; width:35%; margin-right:0px; margin-top:2px; margin-left:1%}
.tipo_entrada h4{position:relative; width:100%; text-align:center; background:#e4e4e4; color:#242424; border:1px solid white; height:18px;; vertical-align:middle; margin-right:0px; margin-top:0px;}
.tipo_entrada p{position:relative; text-align:center; width:100%; margin-right:0px; margin-top:2px; margin-bottom:2px; }
.horarios_exibicao{position:relative; float:left;; margin-top:5px;}
.horarios_exibicao h3{position:relative; float:left; width:100%; text-align:left; font-size:14px; margin-bottom:2px; margin-left:5px; margin-top:2px}
.dia_exibicao{position:relative; float:left; width:46px; font-size:12px; font-weight:bold; color:#242424;; margin-bottom:5px }
.dia_exibicao h4{position:relative; float:left; width:100%; height:20px; margin-top:0px; text-align:center; background:#e4e4e4; color:#242424; font-size:12px; border:1px solid #fff;}
.dia_exibicao p{ position:relative; float:left; width:100%; text-align:center; margin-top:5px; margin-bottom:0px; font-size:12px;}
.classificacao_indicativa{position:relative; float:right; width:100%; height:17px ; margin-top:6px; margin-bottom:0px; background:#242424; color:#fff }
.classificacao_indicativa h4{position:relative; float:left; font-size:12px; width:20%; font-weight:bold; color:#fff; margin-top:0px; margin-bottom:0px; margin-left:10px}
.classificacao_indicativa p{position:relative; float:left; width:15%; margin-right:0px; margin-top:0px; margin-left:3px; margin-bottom:0px; font-size:12px;}
.classificacao_indicativa span{position:relative; float:left; margin-left:10px; margin-right:10px}


/*css de rotas*/
#rotas{position:relative; float:left; width:100%; margin-bottom:30px; }
.rota{position:relative; float:left; width:100%; margin-bottom:10px;}
.rotas{position:relative; float:left; width:100%; color:#424242; border:1px solid #ccc}
.rota h1{position:relative; float:right; font-family:"axure_handwritingbold"; font-size:20px; text-align:center; color:#ff9c00;  margin-bottom:0px; padding:5px}
.rotas img{position:relative; float:left; width:240px; height:170px;}
.rotas h2{position:relative; float:right; font-size:16px; padding:8px; margin-top:0px; margin-bottom:0px;}
.rotas p{position:relative; float:right; max-width:412px;  font-size:14px; padding:8px; margin-top:0px; }
.rotas h3{position:absolute;  font-size:14px; padding:8px; margin-top:0px; margin-bottom:0px; right:0; bottom:0; border-top:1px solid #ccc; border-left:1px solid #ccc;}
.rotas h3 span{margin-left:8px; font-size:16px}
.rota:nth-child(2n+2) h1{float:left}
.rota:nth-child(2n+2) img{float:right}
.rota:nth-child(2n+2) h2{float:left;}
.rota:nth-child(2n+2) h3{position:absolute; left:0; bottom:0; right:auto; border-top:1px solid #ccc; border-right:1px solid #ccc; border-left:none; }
#rotas_valor_final{position:relative; float:left; width:666px; margin-bottom:30px; margin-top:40px; border:3px solid #ff9c00;}
#rotas_valor_final h1{position:relative; float:left; width:100%; text-align:center; color:#424242}
#rotas_valor_final h1 span{font-size:20px; margin-left:10px; color: #F60;}

/*css de album*/
#album{position:relative; float:left; width:100%; margin-bottom:30px;}

/*css de promoções*/
#promocoes{position:relative; float:left; width:666px; height:182px; margin-bottom:30px;}
.promocao{position:relative; float:left; width:90%; padding:5px;; margin-bottom:10px; background:url(../images/back_detalhes_claro_claro.jpg); border:1px solid red}
.promocao img{position:relative; float:left; width:211px; height:176px; background:url(../images/back_detalhes_claro.jpg); margin-right:8px; margin-bottom:0px;}
.promocao h3{position:relative; float:left; width:370px; margin-bottom:10px; margin-top:2px; font-size:16px; font-weight:bold; color:#242424; }
.promocao p{position:relative; float:left; width:360px; height:100px; font-size:12px; margin-top:0px; margin-bottom:15px;; text-align:justify; }
.promocao h4{position:relative; float:right; max-width:370px; margin-bottom:10px; margin-top:0px; font-size:14px; font-weight:bold; color:#424242; }
.promocao h4 span{ font-weight:normal; margin-left:8px}

/*O que fazer lá*/ 
#dicas{position:relative; float:left; width:100%; color:#424242; margin-bottom:30px}
.dicas{position:relative; float:left; width:100%; margin-bottom:15px; border-bottom:1px solid #CCC;}
.dicas:last-child{border-bottom:0px}
.dicas h3{position:relative; float:left; font-size:14px; font-weight:bold; margin-top:0px; margin-bottom:0px;}
.dicas a{color:#424242}
.dicas a:hover h6{color:#ff8100}
.dicas p{position:relative; float:left; width:100%; font-size:14px; margin-top:6px; margin-bottom:0px;}
.dicas h6{position:relative; float:right; font-size:12px; font-weight:bold; margin-top:6px; margin-bottom:7px; text-align:right}

/*Locais próximos*/ 
.locais_proximos{position:relative; float:left; width:319px; height:71px; border:1px solid #d4d4d4; margin-bottom:16px; color:#424242; padding:3px; background:url(../images/back_detalhes_claro_claro.jpg)}
.locais_proximos:last-child{margin-bottom:0px}
.locais_proximos a{text-decoration:none; color:#424242}
.locais_proximos a:hover{color:#ff8100}
.locais_proximos img{position:relative; float:left; width:102px; height:71px; margin-right:6px; margin-bottom:0px}
.locais_proximos h3{position:relative; float:left; font-size:16px; width:204px; margin-top:0px; margin-bottom:0px; font-weight:bold }
.locais_proximos h5{position:relative; float:left; font-size:12px; margin-top:10px; margin-bottom:0px; font-weight:100}
.locais_proximos h5 span{position:relative; margin-left:5px}

/*outros css*/
.linha_separatoria{position:relative; float:left; width:100%; height:1px; margin-top:7px; margin-bottom:7px; background: url(../images/linha_saparatoria.jpg)}

/*Resultado da pesquisa */
.resultado_pesquisa{position:relative; float:left; width:240px; /*height:358px*/; margin-right:0px; margin-left:15px; margin-bottom:18px; border:1px solid #c4c4c4; background:#fff}
.resultado_pesquisa:nth-child(3n+1){margin-left:0px}
.estabelecimento_resultado_pesquisa{position:relative; float:left; text-align:center; width:100%; height:41px; font-size:14px; font-weight:bold; color:#ce6f00; margin-top:4px; margin-bottom:4px; border-bottom:1px solid #c4c4c4; vertical-align:bottom}
.local_resultado_pesquisa{position:relative; float:left; font-size:12px; color:#4c4c4c; padding:4px; margin-top:0px; margin-bottom:2px; width:97%; height:18px;}
.resultado_pesquisa h4{position:relative; float:left; width:233px; font-size:12px; font-weight:bold; color:#fff; background:#565656; height:20px; padding-left:3%; padding-top:4px; margin-top:0px; margin-bottom:0px}
.icone_resultado_da_pesquisa{position:relative; float:left;  margin-left:0px; margin-right:0px; margin-top:0px; margin-bottom:0px; }
.icone_resultado_da_pesquisa:nth-child(4n+1){border-left:none}
.logo_resultado_pesquisa{position:relative; float:left; width:100%; height:146px; border-bottom::1px solid #c4c4c4; background:#F9F9F9}
.especialidades_local{position:relative; float:left; font-size:12px; color:#242424; }
.rodape_resultado_pesquisa{position:relative; float:left; width:100%; height:30px; background:#007bb7; vertical-align:middle; margin-top:0px}
.rodape_resultado_pesquisa img{position:relative; float:left; margin-left:16px; margin-top:3px;}
.rodape_resultado_pesquisa h2{position:relative; float:left; margin-top:5px; margin-left:10px;font-family:"alte_haas_groteskbold"; font-size:17px; color:#fff; }


/*Publicidade*/
#publicidade_superior{position:relative; float:left; margin-top:25px; margin-bottom:10px; width:100%; height:90px; background: url(../images/back_detalhes.jpg);}
#publicidade_superior .conteudo_publicidade{position:relative;  margin-left:50px;}
#publicidade_meio{position:relative; float:left; width:94%; height:510px; border:10px solid #f6f6f6; margin-bottom:30px; background: url(../images/back_detalhes.jpg);}
#publicidade_meio_index{position:relative; float:left; margin-top:5px; margin-bottom:40px; width:100%; height:70px; background: url(../images/back_detalhes.jpg);}
#publicidade_meio_index .conteudo_publicidade{position:relative;  margin-left:25px;}
#publicidade_inferior{position:relative; float:left; width:980px; height:170px; border:10px solid #f6f6f6; background: url(../images/back_detalhes.jpg);}
.publicidade_simples { position:relative; float:right; height: 100%; width: 100%; background: url(../images/back_detalhes.jpg); }
.publicidade_simples img {position:relative; float:right; background-color: #eee; height: 100%; width: 100%; }


/*select*/
#filtrar_ordenar{position:relative; float:left; margin-bottom:25px; width:100%}
select{background: #fbfbfb ;
    border:1px solid #c4c4c4;
    font-size: 16px;
	font-weight:bold;
	color:#606060;
    padding: 1px;
    width: 100%;
	margin-top:3px;
	margin-bottom:3px;}
.select{width:100%}
.select h4{position:relative; float:left; font-size:15px; color:#606060; margin-top:0px; margin-bottom:0px; margin-left:10px}
#topo_select_ordenar{position:relative; float:left; width:240px; height:78px; margin-bottom:10px; margin-top:55px; background:url(../images/colocar_em_ordem.jpg) }
#topo_select_filtrar{position:relative; float:left; width:240px; height:78px; margin-bottom:10px; background:url(../images/quero_ver_apenas.jpg) }
#topo_select_escolha{position:relative; float:left; width:326px; height:78px; margin-bottom:10px; background:url(../images/escolha_restaurante.jpg); }
#topo_select_escolha_bebidas{position:relative; float:left; width:326px; height:78px; margin-bottom:10px; background:url(../images/escolha_bebida.jpg)}
#topo_select_escolha_lanchonetes{position:relative; float:left; width:326px; height:78px; margin-bottom:10px; background:url(../images/escolha_lanchonete.jpg)}
#topo_select_escolha_passeio{position:relative; float:left; width:326px; height:78px; margin-bottom:10px; background:url(../images/escolha_passeio.jpg)}
#topo_select_escolha_estadia{position:relative; float:left; width:326px; height:78px; margin-bottom:10px; background:url(../images/escolha_estadia.jpg)}
#topo_select_escolha_entretenimento{position:relative; float:left; width:326px; height:78px; margin-bottom:10px; background:url(../images/escolha_entretenimento.jpg)}





/*Promoções da semana*/
#promocoes_semana{position:relative; float:left; margin-top:20px; margin-bottom:20px}
#topo_promocoes_semana{position:relative; float:left; width:326px; height:78px; margin-bottom:10px; background:url(../images/promocoes_da_semana.jpg) }
#conteudo_promocoes_semana{position:relative; float:left; width:100%;}
#dia_promocoes_semana{position:relative; float:left; width:100%; height:67px; margin-bottom:20px; background:#f7f7f7; border:1px solid #e1e1e1; color:#606060; font-family:"arial" }
#dia_promocoes_semana h4{position:relative; float:left; width:95%; font-size:18px; margin-top:3px; margin-bottom:3px; margin-left:8px; }
#dia_promocoes_semana h2{position:relative; float:left; width:40%; font-size:32px; margin-left:8px; margin-top:0px; }
#dia_promocoes_semana h6{position:relative; float:right; width:40%; font-size:14px; margin-right:8px; margin-top:14px; text-align:right }
#promocoes_promocoes_semana{position:relative; float:left; width:100%}
#promocoes_promocoes_semana ul{position:relative; float:left; margin-left:0px; margin-bottom:7px; margin-top:7px; padding-bottom:7px; width:88%; border-bottom:1px solid #666}
#promocoes_promocoes_semana ul:last-child{border-bottom:none}
#promocoes_promocoes_semana ul a{ text-decoration:none; color:#606060}
#promocoes_promocoes_semana ul li{position:relative; float:left; width:90%; list-style:none; font-size:14px; margin-left:-30px; margin-bottom:5px}
#promocoes_promocoes_semana ul li span{font-size:12px; font-weight:bold}
#mais_promocoes {position:relative; float:right; width:100%; height:35px; background:url(../images/back_detalhes_claro.jpg); }
#mais_promocoes a{color:#606060; text-decoration:none}
#mais_promocoes h4{position:relative; float:right; font-size:14px; font-weight:bold; margin-left:10px; margin-top:11px}
#mais_promocoes img{position:relative; float:right; width:27px; margin-top:5px; margin-left:10px; margin-right:7px}


/*===================================================
	CSS TASSIANO
===================================================*/
.sliders-grande {
	width: 670px;
	height: 235px;
	overflow: hidden;
}

.sliders-medium {
	width: 326px;
	height: 282px;
	overflow: hidden;
}

/* Capitions Sliders */
.cycle-overlay {
	font-size: 13px;
	position: absolute;
	bottom: 32px;
	width: 100%;
	z-index: 600;
	background: #000000;
	color: white;
	padding: 10px;
	opacity: .7;
}
.cycle-pager {
	text-align: center;
	
}

.cycle-pager span {
	font-size: 28px;
	cursor: pointer;
	color: #333333;
}

span.cycle-pager-active {
	color: #ff8100;
}

/* CHAMADAS CAPTIONS */ 
.chamadas_sidebar_esquerda {
	width: 326px;
	float: left;	
}

.chamadas_sidebar_direita {
	width: 326px;
	float: right;
}

.chamadas_sidebar_esquerda .chamada-captions:nth-child(even){margin-right:0px}
.chamada-captions {
	width: 154px;
	height: 168px;
	float: left;
	margin: 0 18px 18px 0;
	overflow: hidden;
	position: relative;
	transition: all 0.2s;
	margin-right:18px;
	
}

.chamada-captions span {
	width: 134px;
	height: 148px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #ff8100;
	opacity: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
}

.chamada-captions:hover span {
	opacity: 0.9;
}

.chamada-captions span a {
	text-decoration: none;
	font-size: 13px;
	color: #FFFFFF;
}

.chamada-captions-grande {
	width: 326px;
	height: 354px;
	float: left;
	margin: 0 18px 18px 0;
	overflow: hidden;
	position: relative;
	transition: all 0.2s;
	margin-right:18px;
	
}

.chamada-captions-grande span {
	width: 99%;
	height: 99%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #ff8100;
	opacity: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
}

.chamada-captions-grande:hover span {
	opacity: 0.9;
}

.chamada-captions-grande span a {
	text-decoration: none;
	font-size: 13px;
	color: #FFFFFF;
}


.chamada-captions-media {
	width: 326px;
	height: 168px;
	float: left;
	margin: 0 18px 18px 0;
	overflow: hidden;
	position: relative;
	transition: all 0.2s;
	margin-right:18px;
	
}

.chamada-captions-media span {
	width: 99%;
	height: 148px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: #ff8100;
	opacity: 0;
	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
}

.chamada-captions-media:hover span {
	opacity: 0.9;
}

.chamada-captions-media span a {
	text-decoration: none;
	font-size: 13px;
	color: #FFFFFF;
}


img{border:0px}


/*Rodapé*/

#rodape{position:relative; float:left; width:100%; margin-top:45px; margin-bottom:0px;}
#rodape_1{position:relative; float:left; width:100%; height:24px; background:url(../images/back_rodape_1.jpg)}
#rodape_2{position:relative; float:left; width:100%; height:228px; color:#545454; background:#fafafa}
#sac{width:255px; height:126px; background:#fff}
#sac img{position:relative; float:left; margin-left:70px; margin-right:21px; margin-top:29px; margin-bottom:0px}
#sac h3{position:relative; float:left; font-size:31px; font-weight:bold; margin-bottom:0px; margin-top:24px; }
#sac h4{position:relative; float: left; font-size:24px; width:100%; margin-bottom:0px; margin-top:10px; text-align:center }
#anuncie{width:315px; height:126px; background:#fff}
#anuncie img{position:relative; float:left; margin-left:65px; margin-right:21px; margin-top:29px; margin-bottom:0px}
#anuncie h3{position:relative; float:left; font-size:31px; font-weight:bold; margin-bottom:0px; margin-top:24px; }
#anuncie p{position:relative; float: left; font-size:14px; width:97%; padding:5px; text-align:center; }
#conheca_o_guia{width:332px; height:126px; background:#fff}
#conheca_o_guia img{position:relative; float:left; margin-left:22px; margin-right:21px; margin-top:29px; margin-bottom:0px}
#conheca_o_guia h3{position:relative; float:left; font-size:31px; font-weight:bold; margin-bottom:0px; margin-top:24px; }
#conheca_o_guia p{position:relative; float: left; font-size:14px; width:308px; margin-left:12px; margin-top:15px }
.rodape_2{position:relative; float:left; margin-left:11px; background: url(../images/back_detalhes_claro.jpg); margin-top:40px; padding:11px}
#rodape_3{position:relative; float:left; width:100%; background:#007bb7; padding-bottom:40px}
#rodape_3 ul{position:relative; float:left; margin-left:0px; margin-right:0px; width:127px; height:180px; border-right:2px solid #076b9c}
#rodape_3 ul:last-child{border:none}
#rodape_3 ul li{position:relative; float:left; width:100%; padding:0px; text-align:left; margin-right:0px; margin-left:-20px;margin-bottom:5px; list-style:none;  color:#fff; font-size:14px}
#rodape_3 ul li a{ text-decoration:none; color:#fff}
#rodape_3 ul li a:hover{color:#ccc}
.titulo_li_rodape{font-size:16px; text-align:center;}
#rodape_3 ul li:first-child{font-size:16px; text-align:center; margin-left:-21px; font-weight:bold; margin-bottom:10px}
#rodape_4{position:relative; float:left; width:100%; background:#252525; padding-bottom:30px}
.rodape_4_sociais{position:relative; float:left; width:20%; text-align:center;}
.h1_rodape{ position:relative; float:left; width:100%; font-family:"alte_haas_groteskbold"; font-size:42px; color: #fff; margin-top:15px; margin-left:20px; margin-bottom:40px;}
#rodape_5{position:relative; float:left; color:#fff; background:#ff8100; width:100%; height:85px}
#rodape_5_direitos{position:relative; float:left; width:338px; font-size:12px; }
#rodape_5_direitos p{position:relative; float:left; width:267px; margin-bottom:0px; margin-top:15px; margin-left:15px}
#rodape_5_mercurios{position:relative; float:left; width:338px; margin-top:15px; text-align:center; vertical-align:middle;}
#rodape_5_mercurios h3{position:relative; float:left; font-family:"arial"; font-size:24px; margin-left:40px}
#rodape_5_mercurios img{position:relative; float:left; margin-top:15px; margin-left:8px}

.laranja{color:#ff8100}




/*Chamada Modal*/
#chamada_modal{width:1014px; position:relative; margin:0 auto; margin-top:15px;}
#chamada_modal h1{position:relative; float:left; font-size:22px; font-weight:bold; color:#424242}

}
@media only screen and (min-width:200px) and (max-width: 1000px){
#container{width:100%; position:relative; margin:0 auto; margin-top:15px;}
#conteudo{position:relative; float:left; width:1014px; margin-top:-50px; }
#area_conteudo_superior{width:100%; position:relative; float:left; margin-bottom:80px}
#area_conteudo_esquerda{width:670px; position:relative; float:left; }
#area_conteudo_direita{width:326px; position:relative; float:right; margin-right:0px; }
.area_conteudo_home{position:relative; float:left; margin-bottom:30px; }
#area_conteudo_esquerda_pesquisa{width:756px; position:relative; float:left; }
#area_conteudo_direita_pesquisa{width:240px; position:relative; float:right; margin-right:0px; }
	/*css do topo*/

/*topo*/

#topo{width:100%px; height:150px; position:relative; float:left;}
#logo{position:relative; float:left; margin-left:10px;}
#campo_estado{position:relative; float:right; width:248px; height:40px; margin-top:13px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold;}
#campo_estado img{position:relative; float:right; margin-top:7px; margin-left:5px; border:1px solid #e0e0e0 }
#titulo_estado{position:relative; float:right; font-size:16px; color:#727575;}
#link_estado a{position:relative; float:right;font-size:12px; color:#ffc001; text-decoration:none}
#link_estado a:hover{ text-decoration:underline}
input.placeholder {text-align: center;}
#campo_pesquisa{position:relative; float:right; top:32px}
#busca{position:relative; float:right; width:207px; height:41px; border: 3px solid #5c5c5c; background: #FFF}
#busca img{position:relative; float:left; margin-top:5px; margin-left:10px; margin-right:10px; }
#botao_busca{position:relative; float: right; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; color:#fff; background-color:#5c5c5c; width:86px; height:100%; border:0; font-weight:bold;}
#texto_busca{position:relative; float:left; width:385px; height:95%; border:0; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px; color:#5c5c5c; text-align: center}

::-webkit-input-placeholder { /* WebKit browsers */
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px;
color: #adadad; 
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px;
color: #adadad; 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px;
color: #adadad; 
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:20px;
color: #adadad; 
}


/*menu*/
#menu{position:relative; float:left; height:59px; z-index:100000;}
#menu .link_menu:last-child{margin-right: 0px; border-right: 0px}
.link_menu{position:relative; float:left;height:100%; background:#007bb8; border-right:1px solid white;}
.link_menu img{position:relative; float:left; margin-top:14px; margin-left:9px; margin-right:10px}
.link_menu a{text-decoration:none}
.link_menu a h3{display:none}
/*.link_menu_ultimo{margin-right:0px}
.link_menu_ultimo img{margin-right:9px; margin-left:9px}*/
/*.v{ position:relative; float:left; color:#fff; width:5px; margin-left:0px; margin-top:19px}*/
.v{ position:relative; float:left; width:11px; height:9px; background:url(../images/icone_down.png); margin-left:0px; margin-top:27px}
.link_menu:hover .v{background:url(../images/icone_up.png); }
.menus{position:absolute; left:-999em ; float:left; height:310px; background-color:#007bb8; margin-top:63px; display:block}
.menus a{ text-decoration:none}
.link_menu:hover {height:110%}
.link_menu:hover .menus {left:0px; top:auto;}
.conteudo_menu{position:relative; float:left; margin-left:10px; margin-right:10px}
.ou{position:relative; float:left; color:#fff; font-size:16px; font-weight:bold; margin-top:5px}
.titulo_menu{ position:relative; float: left; margin-left:11px; font-size:22px; color:#fff; font-weight:bold; display:block; width:100%}
.sub_menu{position:relative; float:left; margin-left:11px; margin-right:11px;}
.sub_menu ul{position:relative; float:left; list-style:none; color:#fff; font-size:16px; margin-right:40px; margin-top:-10px; }
.titulo_sub_menus{height:24px; padding-top:5px ;padding-left:5px; padding-right:5px; background:#ebebeb; color:#535353; font-weight:bold; margin-top:0px}
.sub_menus a{ text-decoration:none; color:#fff;}
.sub_menus a:hover{color:#CCC;}
.sub_menu ul li{ margin-bottom:3px; margin-left:-60px; list-style:none; text-decoration:none}
.titulo_rodape_menu{position:relative; float:left; font-family: "Arial", Helvetica, sans-serif; font-size:15px; color:#fff; margin-top:12px}
.rodape_menu{position:absolute; float:left; width:100%; height:42px; background-image:url(../images/back_rodape_menu2.jpg); bottom:0px}
.rodape_menu img{position:relative; float:right; margin-top:6px; margin-right:6px; margin-left:10px}
.rodape_menu h2{position:relative; float:right}
#menu_restaurantes{width:692px;}
#restaurantes{width:16%}
#menu_lanchonete{width:699px;}
#lanchonetes{width:16%}
.link_menu:hover #menu_lanchonete{left:-178px; top:auto;}
#menu_bebidas{width:16%;}
#bebidas{width:139px}
.link_menu:hover #menu_bebidas {left:-287px; top:auto;}
#menu_passeio{width:16%;}
#passeio_e_lazer{width:194px}
.link_menu:hover #menu_passeio {left:-350px; top:auto;}
#menu_estadias{width:16%;}
#estadias{width:147px}
.link_menu:hover #menu_estadias {left:-169px; top:auto;}
#menu_entretenimento{width:16%;}
#entretenimento{width:184px}
.link_menu:hover #menu_entretenimento {left:-355px; top:auto;}
	}


#adv-custom-pager img {
    margin: 0 1px;
}